@page
@model RazorPage.Pages.Members.IndexModel
@{
    ViewData["Title"] = "Member index page";
    ViewData["ShowButton"] = true;
}

<h1 class="display-4 text-center">Members of CHOM</h1>

<div class="float-end">
    <form method="get">
        <div class="d-flex">
            <div class="m-1">
                <input asp-for="@Model.SearchItem" class="form-control" id="floatingInput" placeholder="Search">
            </div>
            <div class="m-1">
                <button type="submit" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </div>
        </div>
    </form>
</div>

<div>
    @await Component.InvokeAsync("HeadCount")
</div>

<div class="card-group">
    @foreach (var member in Model.Employees)
    {
        <partial name="_DisplayMemberPartial" model="member" />
        ;
    }
</div>