@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-page">
    <h1 class="display-2">Welcome to CHOM</h1>
    <footer class="footer">
        <div class="credits">
            <p>"Programming is like playing Street Fighter" - Yang</p>
        </div>
    </footer>
</div>


